<!doctype html>
<html lang="en">
<head>
  {% load static %}
  <link rel="stylesheet" href={% static "css/style.css"%}>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>home</title>
</head>
<body>
<h2>
  This is my home page</h2>


<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus eaque facere facilis fugiat perferendis
  quisquam unde ut! Asperiores aut, consectetur delectus doloribus minima molestias, nihil placeat quam quos repudiandae
  sunt?</span><span>Ab adipisci amet dolorem, esse explicabo incidunt maiores molestiae mollitia nihil nisi, non quam voluptatibus. Alias amet aut delectus dolore dolorum et facilis impedit non obcaecati possimus quasi, recusandae soluta!</span><span>Architecto commodi cum debitis eius fugiat id ipsam iste, magni minima molestiae molestias nemo neque officia omnis optio quam quasi quisquam quos tempore ullam ut vel velit vitae? Architecto, libero?</span><span>Animi deleniti dolore doloribus dolorum facilis fugit, hic maxime molestiae mollitia officia officiis placeat quaerat quas quibusdam quidem quis quo recusandae reiciendis rem reprehenderit suscipit vitae voluptas? Optio, recusandae, sint.</span><span>Ab aliquid cum error facere magnam neque perspiciatis possimus quia quis repellat! Ab accusantium adipisci architecto consequuntur delectus doloremque
  , eius incidunt laudantium molestiae natus, neque perferendis possimus quaerat soluta vitae.</span></p>
<a href="About%20us.html"ABOUT US></a>
<a href="Contact%20us.html"Contacts></a>
<a href="Services.html"Services></a>
</body>
</html>
